body {
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.form{
  background-color: #005497;
}
.header{
  background-color: #BE0F34;
}
.filterby{
  background-color: #BE0F34;
}
.rating {
  color:#FFAE19;
}
.delete {
  color:rgb(231, 19, 19)
}